@import "_variables";
@import "_mixins";

body {
  margin: 0;
  padding: 0;
  background-color: $lightgrayishblue;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  color: $grayishblue;
}

h2 {
  font-size: 36px;
  font-weight: 300;
  color: $darkblue;
  @media (max-width: 850px) {
    font-size: 30px;
    line-height: 36px;
  }
}

header {
  @include boxcontainer(white);
  height: 75px;
  z-index: 5;
}

#maindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#topmenu {
  @include contentbox(white);
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#firstboxcontainer {
  @include boxcontainer($verylightgray);
  #firstbox {
    @include contentbox($grayishblue);

    #getinvite {
      height: 100%;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-weight: 300;
      h1 {
        font-size: 52px;
        font-weight: 300;
        color: $darkblue;
      }
      span {
        line-height: 26px;
        margin-bottom: 25px;
      }
    }
    #mockups {
      position: absolute;
      z-index: 4;
      top: -280px;
      right: -300px;
    }
    #mockups-bg {
      position: absolute;
      z-index: 2;
      top: -400px;
      right: -620px;
    }
  }
  @media (max-width: 850px) {
    justify-content: flex-end;
    align-items: flex-end;
    #firstbox {
      display: flex;
      flex-direction: column;
      align-items: center;
      #getinvite {
        width: 300px;
        text-align: center;
        align-items: center;
        margin-bottom: 80px;
        h1 {
          font-size: 36px;
        }
        span {
          font-size: 14px;
        }
      }
      #mockups {
        z-index: 4;
        top: -420px;
        width: 350px;
        right: auto;
      }
      #mockups-bg {
        z-index: 4;
        top: -620px;
        width: 800px;
        right: -250px;
      }
    }
  }
}
#secondboxcontainer {
  @include boxcontainer($lightgrayishblue);
  z-index: 3;
  #secondbox {
    @include contentbox($grayishblue);
    #description {
      width: 50%;
      line-height: 26px;
    }
    #features {
      display: flex;
      justify-content: space-between;
    }
  }
  @media (max-width: 850px) {
    margin-top: 20px;
    height: auto;
    #secondbox {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #description {
        width: 300px;
        line-height: auto;
        font-size: 14px;
      }
      #features {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

#thirdboxcontainer {
  @include boxcontainer($verylightgray);
  #thirdbox {
    @include contentbox($grayishblue);
    #articles {
      display: flex;
      justify-content: space-between;
    }
  }
  @media (max-width: 850px) {
    height: auto;
    #thirdbox {
      text-align: center;
      #articles {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

#footercontainer {
  @include boxcontainer($darkblue);
  height: 190px;

  #footerbox {
    @include contentbox($verylightgray);
    display: flex;
    justify-content: space-between;
    #footerleft {
      display: flex;
      flex-direction: column;
      height: 100px;
      justify-content: space-between;
    }
    #footermenu {
      display: flex;
      width: 400px;
      flex-wrap: wrap;
    }
    #footerright {
      display: flex;
      flex-direction: column;
      height: 100px;
      justify-content: space-between;
      align-items: flex-end;
      color: $grayishblue;
      font-size: 14px;
    }
  }
  @media (max-width: 850px) {
    height: 500px;
    #footerbox {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      #footerleft {
        height: 80px;
        align-items: center;
      }
      #footermenu {
        margin: 15px 0px;
        width: auto;
        flex-direction: column;
      }
      #footerright {
        height: 75px;
        align-items: center;
      }
    }
  }
}
