@import "_variables";
@import "_mixins";

body {
  margin: 0;
  padding: 0;
  background-color: $lightgrayishblue;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  color: $grayishblue;
}

h2 {
  font-size: 36px;
  font-weight: 300;
  color: $darkblue;
}

header {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

#maindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#topmenu {
  width: 100%;
  max-width: 1152px;
  height: 75px;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}
#firstboxcontainer {
  @include boxcontainer($verylightgray);
  #firstbox {
    @include contentbox($grayishblue);

    #getinvite {
      height: 100%;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-weight: 300;
      h1 {
        font-size: 52px;
        font-weight: 300;
        color: $darkblue;
      }
      span {
        line-height: 26px;
        margin-bottom: 25px;
      }
    }
    #mockups {
      position: absolute;
      z-index: 4;
      top: -280px;
      right: -300px;
    }
    #mockups-bg {
      position: absolute;
      z-index: 2;
      top: -400px;
      right: -620px;
    }
  }
}
#secondboxcontainer {
  @include boxcontainer($lightgrayishblue);
  z-index: 3;
  #secondbox {
    @include contentbox($grayishblue);
    #description {
      width: 50%;
      line-height: 26px;
    }
    #features {
      display: flex;
      justify-content: space-between;
    }
  }
}

#thirdboxcontainer {
  @include boxcontainer($verylightgray);
  #thirdbox {
    @include contentbox($grayishblue);
    #articles {
      display: flex;
      justify-content: space-between;
    }
  }
}

#footercontainer {
  @include boxcontainer($darkblue);
  height: 190px;
  #footerbox {
    @include contentbox($verylightgray);
    display: flex;
    justify-content: space-between;
    #footerleft {
      display: flex;
      flex-direction: column;
      height: 100px;
      justify-content: space-between;
    }
    #footermenu {
      display: flex;
      justify-content: row;
      width: 400px;
      flex-wrap: wrap;
    }
    #footerright {
      display: flex;
      flex-direction: column;
      height: 100px;
      justify-content: space-between;
      align-items: flex-end;
      color: $grayishblue;
      font-size: 14px;
    }
  }
}
